@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.left-links, .right-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px
}

a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
}

.buttons button {
  padding: 6px 10px;
}

.footer {
  background-color: rgb(235, 235, 235);
}